.popup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.popup>.body {
  display: flex;
}

.popup>.footer-error {
  color:red
}

.popup table {
  flex-grow: 1;
}

.popup table td {
  height: 30px;
}

.popup table td:nth-child(1) {
  text-align: end;
  padding-right: 2px;
}

.popup table td:nth-child(2) {
  text-align: start;
  padding-left: 2px;
}
